body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #121212;
  color: #E1E1E1;
  transition: background-color 0.8s ease;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  list-style-position: inside;
}

li {
  display: list-item;
  list-style-type: decimal; 
  margin-top: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.wrapperh1 {
  color: #E1E1E1;
  text-align: center;
}

#todo-stats {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 15px;
}